.tag-hd-logo {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 100px;
  white-space: nowrap;
  z-index: 1;
}
.menu {
  width: 76px;
  flex-shrink: 0;
}
.menu,
.services,
.tag-hd-link-normal {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  z-index: 1;
}
.tag-hd-link-normal {
  height: 17px;
  width: 89px;
  line-height: 21px;
  flex-shrink: 0;
}
.services {
  min-width: 72px;
}
.tag-hd-link-normal1 {
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.tag-hd-link-normal2 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 46px;
  z-index: 1;
}
.header-links,
.tag-hd-nav-link {
  margin: 0;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.tag-hd-nav-link {
  width: 331px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.header-links {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.grommet-icon-1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  min-height: 24px;
  z-index: 1;
}
.scheduler-navigator-1-icon {
  height: 23px;
  width: 20px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.grommet-icon-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.icons,
.navigation {
  justify-content: flex-start;
}
.icons {
  width: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.navigation {
  align-self: stretch;
  flex-direction: row;
  gap: 34px;
}
.header-right,
.navigation,
.tag-header {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.header-right {
  width: 752px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-lg);
}
.tag-header {
  position: absolute;
  top: 27px;
  left: 65px;
  width: 1150px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.indian-restaurant {
  position: absolute;
  top: 211px;
  left: 115px;
  font-size: 36px;
  font-weight: 800;
  color: #ff843f;
  display: inline-block;
  width: 273px;
  height: 115px;
  z-index: 1;
}
.desktop-1-child {
  position: absolute;
  top: 740px;
  left: 292px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: none;
}
.gujrati-thali,
.text-2 {
  position: absolute;
  top: 340px;
  left: 116px;
  z-index: 1;
}
.gujrati-thali {
  margin: 0;
  top: 288px;
  left: 114px;
  font-size: 64px;
  font-weight: 800;
  font-family: inherit;
  z-index: 2;
}
.include-ricedalvegetablerot {
  position: absolute;
  top: 365px;
  left: 110px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 353px;
  height: 51px;
  max-height: 51px;
  word-break: break-word;
  z-index: 3;
}
.text-3,
.text-4 {
  position: absolute;
  top: 444.1px;
  left: 353px;
  z-index: 1;
}
.text-4 {
  left: 408.4px;
}
.text-31,
.text-41 {
  width: 0;
  position: relative;
  display: inline-block;
}
.text-3-wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 21px;
}
.gujrati-thali-child,
.gujrati-thali-item {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
}
.gujrati-thali-child {
  height: 80.9px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.gujrati-thali-item {
  height: 100%;
  top: 0;
  right: -0.1px;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.gujrati-thali1 {
  position: absolute;
  top: 402.4px;
  left: 110px;
  width: 80.5px;
  height: 83.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 66.2px 7px 0.1px;
  box-sizing: border-box;
  gap: 17.1px;
  z-index: 4;
}
.text-32,
.text-42,
.text-43 {
  position: absolute;
  top: 483.3px;
  left: 258.6px;
  z-index: 1;
}
.text-42,
.text-43 {
  top: 466.1px;
  left: 213.2px;
}
.text-43 {
  top: 467.3px;
  left: 314.4px;
}
.text-33 {
  width: 0;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.frame-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 5;
}
.text-3-parent {
  position: absolute;
  top: 400px;
  left: 412.4px;
  width: 66.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 84.7px var(--padding-xl) 1.9px;
  box-sizing: border-box;
}
.explore-button-child {
  height: 52px;
  width: 182px;
  position: relative;
  border-radius: var(--br-mini);
  background: linear-gradient(
    90deg,
    rgba(153, 148, 148, 0.79) 4.5%,
    rgba(152, 147, 147, 0.79) 39%,
    rgba(51, 49, 49, 0.79) 73.5%
  );
  display: none;
}
.explore {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 132px;
  height: 41px;
  z-index: 2;
}
.wrapper-vector-1-child {
  width: 100%;
  height: 100%;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 7px;
  top: 7px;
  transform: scale(4.636);
}
.wrapper-vector-1 {
  position: absolute;
  top: 7px;
  left: 125px;
  width: 11px;
  height: 18px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-content {
  height: 41px;
  flex: 1;
  position: relative;
}
.explore-button {
  cursor: pointer;
  border: 0;
  padding: 11px var(--padding-xl) 0 26px;
  background-color: transparent;
  position: absolute;
  top: 550px;
  left: 125px;
  border-radius: var(--br-mini);
  background: linear-gradient(
    90deg,
    rgba(153, 148, 148, 0.79) 4.5%,
    rgba(152, 147, 147, 0.79) 39%,
    rgba(51, 49, 49, 0.79) 73.5%
  );
  width: 182px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.text-34,
.text-44 {
  position: absolute;
  top: 689px;
  left: 1043px;
  z-index: 1;
}
.text-44 {
  top: 578px;
  left: 741px;
}
.noise-1-icon {
  position: absolute;
  top: -34px;
  left: -81px;
  width: 1361px;
  height: 901px;
  object-fit: cover;
}
.image-2-1,
.image-carousel-child {
  position: absolute;
  top: 402.4px;
  left: 206px;
  width: 80.5px;
  height: 80.9px;
  z-index: 4;
}
.image-2-1 {
  top: 401.6px;
  left: 209.9px;
  width: 72.7px;
  height: 84.9px;
  object-fit: contain;
  z-index: 5;
}
.image-overlay-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.image-3-1 {
  position: absolute;
  width: calc(100% - 9.1px);
  top: 2px;
  right: 2.5px;
  left: 6.6px;
  max-width: 100%;
  overflow: hidden;
  height: 74.2px;
  object-fit: contain;
  z-index: 5;
}
.image-carousel-item,
.image-overlay {
  position: absolute;
  top: 403.6px;
  left: 307.2px;
  width: 80.5px;
  height: 80.9px;
}
.image-carousel-item {
  top: 403.8px;
  left: 405.5px;
  z-index: 4;
}
.image-2-11,
.image-carousel-inner {
  position: absolute;
  top: 166px;
  left: 693px;
  width: 536px;
  height: 523px;
  z-index: 2;
}
.image-2-11 {
  top: 161px;
  left: 719px;
  width: 484px;
  height: 549px;
  object-fit: contain;
  z-index: 3;
}
.image-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.desktop-1 {
  width: 100%;
  height: 800px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 825px) {
  .header-links {
    display: none;
  }
  .indian-restaurant {
    font-size: 29px;
  }
  .text-2 {
    font-size: var(--font-size-13xl);
  }
  .gujrati-thali {
    font-size: 51px;
  }
  .text-3,
  .text-31,
  .text-32,
  .text-33,
  .text-34,
  .text-4,
  .text-41,
  .text-42,
  .text-43,
  .text-44 {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 450px) {
  .indian-restaurant {
    font-size: 22px;
  }
  .text-2 {
    font-size: var(--font-size-5xl);
  }
  .gujrati-thali {
    font-size: 38px;
  }
  .text-3,
  .text-31,
  .text-32,
  .text-33,
  .text-4,
  .text-41,
  .text-42,
  .text-43 {
    font-size: var(--font-size-5xl);
  }
  .explore {
    font-size: 21px;
  }
  .text-34,
  .text-44 {
    font-size: var(--font-size-5xl);
  }
}